
body{
	background-color:  rgb(232, 199, 199)
}
.leftsquare, .title, .subscribe, .lastyear, .submissions, .logo{
  position: relative;
  background-color:  #751a46;
}
p, a{
  font-family: 'Press Start 2P', cursive;
}
.leftsquare{
  width: 15px;
  margin-top: 50px;
  margin-left: 27px;
  padding: 40px;
}
.title{
  color: rgb(255,182,193);
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 1.5vw;
  position: relative;
  margin-top: 20px;
  margin-left: 170px;
  margin-right: 700px;
  padding: 10px 20px;
  text-align: center;
  vertical-align: middle;
  

}
.description{
  color: rgb(255,182,193);
  margin-left: 170px;
  margin-right: 700px;
  margin-bottom: 100px;
  font-size:0.7vw;
  text-align: center;
  position: relative;
  color: rgb(75,0,130);

}

.subscribe, .submissions, .lastyear{
  padding: 9px 7px;
  color: rgb(255,182,193);
  text-decoration: none;
  margin-left: 1em;
  font-size:1.2vw;
}
.subscribe:hover, .lastyear:hover, .submissions:hover{
  background-color: rgb(75,0,130);
}

}
.sponsor {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  padding: 20px;
}
.table  {
  position: absolute;
  margin-top: 30px;
  background: rgb(160,82,45);
  width: 100%;
  padding: 50px;
}

.table:before {
content: "";
position: absolute;
background: rgb(210,180,140);
top: 0;
right: 0;
bottom: 50%;
left: 0;
}

.logo{
  width: 25px;
  padding-top: 100px;
  padding-bottom: 30px;
  padding-right: 90px;
  margin-top:  -100px;
  margin-left: 75em;

  
}


.computer{
  margin-top: -220px;
  background: -webkit-linear-gradient(90deg, #ffffc7 90%, #9ca386 10%);
  background: -o-linear-gradient(90deg, #ffffc7 90%, #9ca386 10%);
  background: -moz-linear-gradient(90deg, #ffffc7 90%, #9ca386 10%);
  background: linear-gradient(90deg, #ffffc7 90%, #9ca386 10%);
  width: 490px;
  height: 380px;
  margin-left: 51em;
  vertical-align:middle;
  text-align:center;
  position: relative;

  
}
.animation{
  margin-top: -20px;
  width: 350px;
  height: 270px;
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-50%, -50%);
}
.holder{
  width: 130px;
  height: 20px;
  background: #92977E;
  position: absolute;
  top: 380px;
  left: 170px;

}
.holder2{
  width: 260px;
  height: 20px;
  background: #9ca386;
  position: relative;
  top: 380px;
  left: 100px;
}
.computerButton{
  height: 15px;
  width: 15px;
  top: 340px;
  position: relative;
  left: 330px;
  background: rgb(50,205,50);
}
.button1, .button2, .button3, .button4{
  height: 15px;
  width: 15px;
  top: 340px;
  position: absolute;
  background: #92977E;
  margin-left: -30px;
}
.button1{
  left: 65px;
}
.button2{
  left: 115px;
}
.button3{
  left: 165px;
}
.button4{
  left: 215px;
}

@media screen and (min-width: 1500px) {
  .title, .description{
    width: 500px;
  }
.subscribe, .submissions, .lastyear{
  font-size: 17px;
  }


}

@media screen and (max-width: 1000px) {
  .title{
    font-size: 10px;
    width: 30px;
  }
  .description{
    width: 70px;
  }

}
@media screen and (max-width: 700px){
.subscribe, .submissions, .lastyear{
  letter-spacing: 0px;
  padding: 10px 20px;
  margin-top: 30px;
  }
  .description{
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 15px;
  }
  .title, .leftsquare{
    width: 50%;
    margin: auto;
  }
  .computer{
    margin: auto;
    width: 200px;
    height: 180px;
    margin-top: 20px;
  }
  .animation{
    width: 140px;
    height: 120px;
  }
  .button1, .button2, .button3, .button4{
  height: 7.5px;
  width: 7.5px;
  top: 150px;
  position: absolute;
  background: #92977E;
}
.button1{
  left: 45px;
}
.button2{
  left: 65px;
}
.button3{
  left: 85px;
}
.button4{
  left: 105px;
}
.computerButton{
  height: 7.5px;
  width: 7.5px;
  top: 150px;
  position: relative;
  left: 130px;
  background: rgb(50,205,50);
}
.holder{
  width: 55px;
  height: 15px;
  background: #92977E;
  position: absolute;
  top: 180px;
  left: 80px;

}
.holder2{
  width: 134px;
  height: 15px;
  background: #9ca386;
  position: relative;
  top: 187px;
  left: 40px;
}




}
