body, html {
  background: url("../images/animation.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  font-family: 'Press Start 2P', cursive;
  overflow-y: hidden;
  overflow-x: hidden;
  bottom: -69px;
   
 


 
}

.subscribe, .submissions, .lastyear{
  padding: 9px 7px;
  color: rgb(255,182,193);
  text-decoration: none;
  margin-left: 3em;
  font-size:1.2vw;
  background-color: rgb(75,0,130);
  font-family: 'Press Start 2P', cursive;
  position: relative;
  top: 430px;
  left: -3%;
  transition: all 0.3s ease 0s;
}
.description{
  text-align: center;
  vertical-align: center;
  color: rgb(75,0,130);
  position: relative;
  top: 330px;
  font-size: 1.0vw;
}
.subscribe:hover, .submissions:hover, .lastyear:hover{
  padding: 15px 10px;
}
@media screen and (max-width: 466px) {
  .subscribe, .submissions, .lastyear{
  top: 180px;
}
.description{
  top: 140px;
  
}

}

@media screen and (max-width: 657px) {
  .subscribe, .submissions, .lastyear{
  top: 380px;
}
.description{
  top: 300px;
  font-size: 1.6vw;
  
}
}

@media screen and (max-width: 320px) {
  .subscribe, .submissions, .lastyear{
  top: 270px;
}
.description{
  top: 210px;
  font-size: 1.6vw;

}
}
