
body{
	background-color:  rgb(232, 199, 199)
}
.leftsquare, .title, .subscribe, .lastyear, .submissions, .logo{
  position: relative;
  background-color:  #751a46;
}
p, a{
  font-family: 'Press Start 2P', cursive;
}
.leftsquare{
  width: 15px;
  margin-top: 50px;
  margin-left: 27px;
  padding: 40px;
}
.title{
  color: rgb(255,182,193);
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 1.5vw;
  position: relative;
  margin-top: 20px;
  margin-left: 170px;
  margin-right: 700px;
  padding: 10px 20px;
  text-align: center;
  vertical-align: middle;

  

}
.title span {
  animation-name: blink;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  display: inline-block;
  width: 40px;
  font-size: 2.0vw;
}

.title span:nth-child(2) {
  animation-delay: .3s;
}

.title span:nth-child(3) {
  animation-delay: .5s;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
.description{
  color: rgb(255,182,193);
  margin-left: 170px;
  margin-right: 700px;
  margin-bottom: 100px;
  font-size:0.7vw;
  text-align: center;
  position: relative;
  color: rgb(75,0,130);

}

.subscribe, .submissions, .lastyear{
  padding: 9px 7px;
  color: rgb(255,182,193);
  text-decoration: none;
  margin-left: 1em;
  font-size:1.2vw;
}
.subscribe:hover, .lastyear:hover, .submissions:hover{
  background-color: rgb(75,0,130);
}

}
.sponsor {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  padding: 20px;
}
.table  {
  position: absolute;
  margin-top: 30px;
  background: rgb(160,82,45);
  width: 100%;
  padding: 50px;
}

.table:before {
content: "";
position: absolute;
background: rgb(210,180,140);
top: 0;
right: 0;
bottom: 50%;
left: 0;
}

.logo{
  width: 25px;
  padding-top: 100px;
  padding-bottom: 30px;
  padding-right: 90px;
  margin-top:  -100px;
  margin-left: 75em;

  
}


.computer{
  margin-top: -220px;
  background: -webkit-linear-gradient(90deg, #ffffc7 91%, #e5e5c9 9%);
  background: -o-linear-gradient(90deg, #ffffc7 91%, #e5e5c9 9%);
  background: -moz-linear-gradient(90deg, #ffffc7 91%, #e5e5c9 9%);
  background: linear-gradient(90deg, #ffffc7 91%, #e5e5c9 9%);
  width: 372px;
  height: 380px;
  margin-left: 51em;
  vertical-align:middle;
  text-align:center;
  position: relative;

  
}
.shade{
  height: 270px;
  background-color: #e5e5c9;
  position: absolute;
  width: 24.5px;
  top: 35px;
  left: 20px;

}
.computer:after{
  content: '';
  position: absolute;
  width: 24.5px;
  height: 380px;
  top: 0px;
  left: 362px;
  background-color: #A8937D;
}
.animation{
  margin-top: -20px;
  width: 270px;
  height: 270px;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.holder{
  width: 110px;
  height: 20px;
  background: #92977E;
  position: absolute;
  top: 380px;
  left: 170px;

}
.holder2{
  width: 260px;
  height: 20px;
  background: #9ca386;
  position: relative;
  left: 80px;
  top: 380px;
}
.rect1{
  position: absolute;
  width: 24.5px;
  height: 320px;
  top: 30px;
  left: 386.5px;
  background-color: #A8937D;
}
.rect2{
  position: absolute;
  width: 24.5px;
  height: 240px;
  top: 70px;
  left: 411px;
  background-color: #A8937D;
}
.computerButton{
  height: 15px;
  width: 15px;
  top: 340px;
  position: relative;
  left: 270px;
  background: rgb(50,205,50);
}
.button1, .button2, .button3, .button4{
  height: 15px;
  width: 15px;
  top: 340px;
  position: absolute;
  background: #92977E;
  margin-left: -30px;
}
.button1{
  left: 70px;
}
.button2{
  left: 110px;
}
.button3{
  left: 150px;
}
.button4{
  left: 190px;
}

@media screen and (min-width: 1500px) {
  .title, .description{
    width: 500px;
  }
.subscribe, .submissions, .lastyear{
  font-size: 17px;
  }


}

@media screen and (max-width: 1080px) {
   .subscribe, .submissions, .lastyear{
  letter-spacing: 0px;
  padding: 10px 20px;
  margin-top: 30px;
  margin-right: 5px;
  margin-left: 50px;
  }

  .description{
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 15px;
  }
  .title, .leftsquare{
    width: 50%;
    margin: auto;
  }
  .title span{
    display: inline;
  }
  .computer{
    margin: auto;
    width: 220px;
    height: 180px;
    margin-top: 20px;
    left: -20px;
  }
  .animation{
    width: 140px;
    height: 120px;
  }
  .button1, .button2, .button3, .button4{
  height: 7.5px;
  width: 7.5px;
  top: 150px;
  position: absolute;
  background: #92977E;
}
.button1{
  left: 65px;
}
.button2{
  left: 85px;
}
.button3{
  left: 105px;
}
.button4{
  left: 125px;
}
.computerButton{
  height: 7.5px;
  width: 7.5px;
  top: 150px;
  position: relative;
  left: 153px;
  background: rgb(50,205,50);
}
.holder{
  width: 55px;
  height: 15px;
  background: #92977E;
  position: absolute;
  top: 180px;
  left: 100px;

}
.holder2{
  width: 155px;
  height: 15px;
  background: #9ca386;
  position: relative;
  top: 187px;
  left: 46px;
}
.shade{
  height: 120px;
  left: 17px;
  top: 10px;
  width: 18px;

  
}
.computer:after{
  content: '';
  position: absolute;
  width: 15px;
  height: 180px;
  top: 0px;
  left: 220px;
  background-color: #A8937D;
}
.rect1{
  position: absolute;
  width: 15px;
  height: 160px;
  top: 10px;
  left: 235px;
  background-color: #A8937D;
}
.rect2{
  position: absolute;
  width: 15px;
  height: 120px;
  top: 30px;
  left: 250px;
  background-color: #A8937D;
}

}
@media screen and (max-width: 760px){

  .subscribe, .submissions, .lastyear{
  letter-spacing: 0px;
  padding: 10px 20px;
  margin-left: 0px;
  }



}
