
body, html{
    background: #DF999F;
    font-family: "Press Start 2P", cursive;
    overflow:visible;
    height: 100%;


}
.title{
    text-align: center;
    overflow: hidden;

}
.overlay{
    position: relative;
    overflow: hidden;
}
.animation{
    overflow: -moz-hidden-unscrollable;
    width: 100%;
    height: 100%;

}
#about{
    background: #DF999F;
    margin-top: -30px;
}

section{
    padding: 30px 20vw;

}
.sponsorTitle{
    color: white;
}
#questions{
    background: #E3A9B4;

}
#sponsors{
    background: #DA6D76;
}

.apply-button {
    font-family: "Press Start 2P", cursive;
    background-color: #FFEFEB;
    color: #402531;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.25s;
    z-index: 10;
    align-content: center;
    position: relative;
    box-shadow: 5px 10px #603348;
    width: 100%;
    min-width: 50px;
    max-width: 70px;


}
.apply-button:active {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.centerButton{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

}
.centerButton:before{
    content: ' ';
    display: block;
    height: 56%;

}
.email-button:hover{
    background-color: #402531;
    color: #FFEFEB;
}

.answer{
    height:380px;
    position:relative;
    color: black;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(0deg,  #E3A9B4 10%, #603348 90%);
    background: -o-linear-gradient(0deg, #E3A9B4 10%, #603348 90%);
    background: -moz-linear-gradient(0deg, #E3A9B4 10%, #603348 90%);
    background: linear-gradient(0deg, #E3A9B4 70%, #603348 50%);
    border: 8px solid #603348;
    width: 100%;
    min-width: 50px;
    max-width: 300px;
    font-size: 15px;
}


.question{
    background: #603348;
}
button[onclick] { cursor: pointer }

h1{
    font-family: "Press Start 2P", cursive;
}

.questionContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.half{
    width: 38%;
}
.date{
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 43%;
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 4vh;
    font-family: "Press Start 2P", cursive;
}
.questionText{
    margin-bottom: 35%;
    color: white;
    font-size: 18px;
}
.answerText{
    font-size: 18px;
    color: black;
}
.social a {
    padding-top: 5%;
    margin-bottom: 0;
    color: white;
    font-size: 1.5em;
}

.social a {
    text-decoration: none;
}

.social > .row {
    margin: 25% 0;
}
@media only screen and (max-width: 1100px) {
    .centerButton:before{
        content: ' ';
        display: block;
        height: 55%;

    }


}
@media only screen and (max-width: 1040px) {
    .questionText{
        margin-bottom: 45%;

    }
    .answerText{
        font-size: 15px;
    }


}
@media only screen and (max-width: 860px) {
    .apply-button{
        padding: 3px 6px;
    }
    .centerButton:before{
        content: ' ';
        display: block;
        height: 50%;

    }
    .questionText{
        margin-bottom: 15%;
    }
    .date{
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        margin: 0;
        position: absolute;
        top: 45%;
        transform: translate(-50%, -50%);
        left: 50%;
    }



}

@media only screen and (max-width: 840px) {
    .questionContainer{
        display: block;
        text-align: center;
    }
    .sponsorTitle{
        font-size: 1.50rem;
    }

    .answer{
        width: 100%;
        min-width: 50px;
        max-width: 300px;
        height:200px;
        position:relative;
        color: black;
        background: -webkit-linear-gradient(0deg,  #E3A9B4 10%, #603348 90%);
        background: -o-linear-gradient(0deg, #E3A9B4 10%, #603348 90%);
        background: -moz-linear-gradient(0deg, #E3A9B4 10%, #603348 90%);
        background: linear-gradient(0deg, #E3A9B4 70%, #603348 50%);
        border: 8px solid #603348;
        font-size: 12px;
        text-align: center;
        left: 0%;


    }
    .half{
        width: 100%;
    }
    .questionText{
        margin-bottom: 16%;
        font-size: 13px;
    }
    .answerText{
        font-size: 10px;
    }

}


@media only screen and (max-width: 550px) {
    .apply-button {
        padding: 1px 2px;
        box-shadow: 1px 2px #603348;
    }

    .centerButton:before {
        content: ' ';
        display: block;
        height: 45%;

    }
    .date{
        font-size: 1.3vh;
        top: 40%;
    }
}
li{
    display: inline-block;
}
.icon{
    margin: 20px;
}
.footer{
    text-align: center;
}
