body{
    background: #DF999F;
    font-family: "Press Start 2P", cursive;
    overflow:hidden;

}
.title{
    text-align: center;

}
#about{
    background: #DF999F;
    margin-top: -100px;
}

section{
    padding: 30px 20vw;

}
.sponsorTitle{
    color: white;
}
#questions{
    background: #E3A9B4;
    width: 100%;

}
#sponsors{
    background: #DA6D76;
}

.apply-button {
    font-family: "Open Sans", sans-serif;
    background-color: #FFEFEB;
    color: #402531;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.25s;
    z-index: 10;
    margin-bottom: 2em;
    align-content: center;
    position: relative;
    top: -18em;
    box-shadow: 5px 10px #603348;

}
.apply-button:active {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.centerButton{
    display: flex;
    justify-content: center;

}
.email-button:hover{
    background-color: #402531;
    color: #FFEFEB;
}
.tab{
    background: #603348;
    width:340px;
    height:60px;
    position:relative;
    color: white;
    border: none;
    margin-bottom: 20px;
    line-height: 60px;
    float: left;
}
.answer{
    width:340px;
    height:270px;
    position:relative;
    color: black;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(0deg,  #E3A9B4 10%, #603348 90%);
    background: -o-linear-gradient(0deg, #E3A9B4 10%, #603348 90%);
    background: -moz-linear-gradient(0deg, #E3A9B4 10%, #603348 90%);
    background: linear-gradient(0deg, #E3A9B4 70%, #603348 50%);
    border: 8px solid #603348;
}



.question{
    background: #603348;
}
button[onclick] { cursor: pointer }

h1{
    font-family: "Press Start 2P", cursive;
}

.questionContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.half{
    width: 44%;
}
.date{

    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 44%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
}
.questionText{
    margin-bottom: 20%;
    color: white;
}
.answerText{
    font-size: 15px;
    color: black;
}

@media only screen and (max-width: 472px) {
    .questionContainer{
      display: block;
    }
    .sponsorTitle{
        font-size: 1.50rem;
    }
    .tab{
        background: #603348;
        width:250px;
        height:50px;
        position:relative;
        color: black;
        float: left;
        display: block;
        font-size: 12px;
        left: -25px;

    }
    .answer{
        width:250px;
        height:150px;
        position:relative;
        color: black;
        background: -webkit-linear-gradient(0deg,  #E3A9B4 10%, #603348 90%);
        background: -o-linear-gradient(0deg, #E3A9B4 10%, #603348 90%);
        background: -moz-linear-gradient(0deg, #E3A9B4 10%, #603348 90%);
        background: linear-gradient(0deg, #E3A9B4 70%, #603348 50%);
        border: 8px solid #603348;
        font-size: 12px;
        left: -25px;

    }
    .half{
        width: 0%;
    }
    .questionText{
        margin-bottom: 6%;
    }
    .answerText{
        font-size: 10px;
    }
    .social a {
        padding-top: 5%;
        margin-bottom: 0;
        color: white;
        font-size: 1.5em;
    }

    .social a {
        text-decoration: none;
    }

    .social > .row {
        margin: 25% 0;
    }



}
